p {
    margin: 0px;
    padding: 0px;
}

i {
    margin: 10px;
}

body {
    position: relative;
    height: 100vh;
}

label {
    font-weight: bold;
}

label.error {
    color: #C82333;
}

.form-control.error {
    border: 1px solid #C82333 !important;
}

label.valid {
    color: #218838;
}

.form-control.valid {
    border: 1px solid #218838 !important;
}

.title-content {
    font-weight: 700;
    color: rgb(88, 88, 88);
    font-size: 1.2rem;
}

.form-header {
    background-color: lavender;
    padding: 10px 0px;
}

.header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 255);
    padding: 0px 5px;
}

.header p {
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown {
    height: 100%;
}

.dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
}

.dropdown .dropdown-toggle:hover {
    color: blue !important;
    background-color: lavender !important;
}

.main {
    height: calc(100vh - 40px);
    padding: 0px;
    margin: 0px;
}

.navbar {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 245, 255);
    padding: 0px;
}

.search {
    width: 85%;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.search input {
    border: none;
    border-right: 1px solid rgb(177, 177, 177);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navs {
    width: 100%;
}

.list-group .list-group-item {
    padding: 0px;
}

.list-group .list-group-item a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.search-area input {
    display: inline-block;
    width: 20%;
}

.form-control {
    padding-left: 2.375rem;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}